@import "styles/welcome.css";
@import "styles/gameStartOptions.css";

@font-face {
  font-family: blackChan;
  src: url("fonts/BLKCHCRY.TTF");
}

@font-face {
  font-family: cartaMagna;
  src: url("fonts/Carta_Magna-line-demo-FFP.ttf");
}

@font-face {
  font-family: mont;
  src: url("fonts/Montserrat-VariableFont_wght.ttf");
}

:root {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  font-family: mont, sans-serif;
  transition: opacity 0.5s;
  color: white;
}

body {
  background-image: url("images/door.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  transition: background-image 1s;
}
