@font-face {
  font-family: blackChan;
  src: url("/fonts/BLKCHCRY.TTF");
}

@font-face {
  font-family: cartaMagna;
  src: url("/fonts/Carta_Magna-line-demo-FFP.ttf");
}

@font-face {
  font-family: mont;
  src: url("/fonts/Montserrat-VariableFont_wght.ttf");
}

:root {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  font-family: mont, sans-serif;
  transition: opacity 0.5s;
}

body {
  background-image: url("/images/tavern_bg.webp");
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}

.hidden {
  display: none;
}

.welcome {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: blackChan;
  color: white;
  font-size: 8rem;
}

h3 {
  color: white;
  font-size: 2rem;
}

.start {
  margin-top: 50px;
  background-color: burlywood;
  font-size: 2rem;
  padding: 1rem 3rem;
  border-radius: 1rem;
  outline: none;
  cursor: pointer;
}

.start:hover {
  background: rgb(206, 171, 124);
}

.fa-volume-high,
.fa-volume-xmark {
  font-size: 2rem;
  color: burlywood;
  position: absolute;
  top: 20px;
  right: 20px;
  opacity: 0;
  transition: color 0.15s;
  cursor: pointer;
}

.fa-volume-high:hover,
.fa-volume-xmark:hover {
  color: rgb(173, 142, 101);
}

.fa-volume-high:active,
.fa-volume-xmark:active {
  color: rgb(158, 128, 89);
}
