.options {
  width: 100%;
  height: 100vh;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.options label {
  color: burlywood;
  font-family: blackChan;
  font-size: 4rem;
  display: block;
  text-align: center;
  margin-bottom: 1rem;
}

.options label i {
  color: crimson;
}

.options input {
  font-family: blackChan;
  font-size: 2rem;
  outline: none;
  border: none;
  color: black;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  background-color: burlywood;
  vertical-align: middle;
}

#assign-names {
  font-family: cartaMagna;
  font-style: italic;
  background-color: crimson;
  color: white;
  outline: none;
  font-size: 2rem;
  padding: 1rem 3rem;
  margin-top: 1rem;
  border-radius: 1rem;
  outline: none;
  cursor: pointer;
  display: block;
}

#assign-names:hover {
  background-color: rgb(194, 19, 54);
}

.nicknames {
  width: 100%;
  min-height: 100vh;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nicknames label {
  color: burlywood;
  font-family: blackChan;
  font-size: 4rem;
  display: block;
  text-align: center;
  margin-bottom: 1rem;
}

.nicknames label i {
  color: crimson;
}

.nicknames input {
  font-family: blackChan;
  font-size: 2rem;
  outline: none;
  border: none;
  color: black;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  background-color: burlywood;
  vertical-align: middle;
}

.start-warning {
  margin-top: 1rem;
  opacity: 0;
  font-family: blackChan;
  color: rgb(82, 192, 255);
  font-size: 2rem;
}

.assign-warning {
  margin-top: 1rem;
  opacity: 0;
  font-family: blackChan;
  color: rgb(82, 192, 255);
  font-size: 2rem;
}
