/* ---------- Button style ---------- */
@font-face {
  font-family: blackChan;
  src: url("/fonts/BLKCHCRY.TTF");
}

@font-face {
  font-family: cartaMagna;
  src: url("/fonts/Carta_Magna-line-demo-FFP.ttf");
}

@font-face {
  font-family: mont;
  src: url("/fonts/Montserrat-VariableFont_wght.ttf");
}

button {
  font-family: cartaMagna;
  font-style: italic;
  background-color: crimson;
  color: white;
  outline: none;
  font-size: 2rem;
  padding: 1rem 3rem;
  margin-top: 1rem;
  border-radius: 1rem;
  outline: none;
  cursor: pointer;
  display: block;
}

button:hover {
  background-color: rgb(194, 19, 54);
}

/* ---------- Form style ---------- */
label {
  color: burlywood;
  font-family: blackChan;
  font-size: 4rem;
  display: block;
  text-align: center;
  margin-bottom: 1rem;
}

label i {
  color: crimson;
}

input {
  font-family: blackChan;
  font-size: 2rem;
  outline: none;
  border: none;
  color: black;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  background-color: burlywood;
  vertical-align: middle;
}
