.hidden {
  display: none;
}

.welcome {
  height: 70vh;
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

.welcome h1 {
  font-family: blackChan;
  font-size: 8rem;
  color: crimson;
}

.fa-dice {
  color: crimson;
}

.welcome h3 {
  font-family: blackChan;
  color: darksalmon;
  font-size: 2rem;
  font-style: italic;
  font-weight: 400;
}

.fa-volume-high,
.fa-volume-xmark {
  font-size: 2rem;
  color: burlywood;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 2;
  opacity: 0;
  transition: color 0.15s;
  cursor: pointer;
}

.fa-volume-high:hover,
.fa-volume-xmark:hover {
  color: rgb(173, 143, 103);
}

.fa-volume-high:active,
.fa-volume-xmark:active {
  color: rgb(146, 119, 84);
}

.fa-dice {
  font-size: 5rem;
}

button {
  font-family: cartaMagna;
  font-style: italic;
  background-color: crimson;
  color: white;
  outline: none;
  font-size: 2rem;
  padding: 1rem 3rem;
  margin-top: 1rem;
  border-radius: 1rem;
  outline: none;
  cursor: pointer;
  display: block;
}

button:hover {
  background-color: rgb(194, 19, 54);
}
